body{
  background-color: #800000;
  font-family: Arial;
}
*{
  box-sizing: border-box;
}
.container{
  max-width: 600px;
  margin: 0 auto;
  background-color: #FFCCCC;
  padding: 10px;
  border: 10px double #FFFFFF;
  overflow: auto;
}
img{
  max-width: 100%;
  border: 5px solid #FFFFFF;
}
@media(min-width: 650px) {
  .articles{
    width: 50%;
    float: left;
    padding-right: 5px;
  }
  .books{
    width: 50%;
    float: left;
    padding-left: 5px;
  }
}
h1{
  margin-top: 0px;
}
h2{
  margin-top: 0px;
}
