body{
  background-color: #800000;
}
*{
  box-sizing: border-box;
}
.container{
  max-width: 600px;
  margin: 0 auto;
  background-color: #FFCCCC;
  padding: 10px;
  border: 10px double #FFFFFF;
  overflow: auto;
}
.articles{
  width: 50%;
  float: left;
  padding-right: 5px;
}
.books{
  width: 50%;
  float: left;
  padding-left: 5px;
}
