body{
  background-color: #800000;
  font-family: Arial;
}
*{
  box-sizing: border-box;
}
.container{
  max-width: 600px;
  margin: 0 auto;
  background-color: #FFCCCC;
  padding: 10px;
  border: 10px double #FFFFFF;
  overflow: auto;
}
img{
  max-width: 100%;
  border: 5px solid #FFFFFF;
  width: 80%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}
@media(min-width: 650px) {
  .articles{
    width: 50%;
    float: left;
    padding-right: 5px;
  }
  .books{
    width: 50%;
    float: left;
    padding-left: 5px;
  }
}
h1{
  margin-top: 0px;
  border-bottom: 1px solid #000000;
}
h2{
  margin-top: 0px;
  border-bottom: 1px solid #000000;
}
h4{
  margin: 0px;
}
.byline{
  margin-top: 10px;
  margin-bottom: 0px;
  display: inline;
}
.publish-time{
  margin-top: 10px;
  display: inline;
  border-left: 1px solid #000000;
}
.byline-bit{
  border-bottom: 1px solid #000000;
}
.story-text{
  font-family: serif;
}
ol{
  list-style-position: inside;
  margin-top: 0px;
}
ul{
  list-style-type: none;
  margin-top: 0px;
}
